.form__group {
  width: 30%;
}

.form {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.select__group {
  width: 30%;
}

.hero__form {
  left: 50%;
  top: 50%;
  padding: 10px;
}
